
<div class="header">
  <div class="name">
    <%= image_tag 'face.png' %>
    <div class="name-text">
      <p>御所市議会議員</p>
      <p>川本 まさき</p>
      <p>Official Site</p>
    </div>
  </div>

  <div class="menu">
    <a href="#profile">プロフィール</a>
    <a href="#voice">市民の声</a>
    <a href="https://kawamotokatsuragi.com/katudou.html">議会報告等</a>
    <a href="https://kawamotokatsuragi.com/katudou.html">Line</a>
    <a href="https://kawamotokatsuragi.com/katudou.html">共産党</a>
    <a href="https://kawamotokatsuragi.com/katudou.html">後援会</a>
  </div>
</div>

<%= image_tag 'IMG_1369.JPG', class: 'main-img' %>

<div class="title-back">
  <div class="title">政 策</div>
</div>

<div id="policy-container">
  <div class="policy">
    <h2>➊くらし第一・高齢者を応援</h2>
    <div>■国保・介護の負担を軽く</div>
    <div class="indent">▼国保税に国庫負担の割合を引き上げ、加入者の負担を軽減する。また子供の均等割を廃止する。</div>
    <div class="indent">▼医療費の減免や支払い猶予を、通院だけでなく入院にも拡大する。</div>
    <div>■住宅リフォーム助成制度の充実を。</div>
    <div class="indent">全国603市町村で住宅、55市町村で店舗リフォーム助成対象制度があります。御所市は多世代同居のみが助成対象です。</div>
    <div class="indent">対象枠を広げて誰もが利用しやすいものに。</div>
  </div>


  <div class="policy">
    <h2>➋子育て・若者の応援で、希望ひらく</h2>
    <div>■子どもの医療費の無料化を高校生まで、また窓口払い廃止へ(現在は就学前子どもの医療費が廃止され500円になっています)</div>
    <div>■小・中学校のエアコン設置については普通教室・特別教室は完了したが、体育館にも。</div>
    <div>■幼児教育・保育の無償化を進めます。</div>
    <div>■学校給食を無料に。契約栽培で地場産の食材を。</div>
    <div>■小・中学校の統合廃止は学校と地域の合意で。</div>
    <div class="indent">過疎に拍車をかける統廃合先にありきではなく、関係者の合意と納得の上で決めること。</div>
    <div class="indent">子育て、教育、若者在住…人口増をめざす総合的な施策こそ求められます。</div>
    <div>■給付型奨学金の拡充。</div>
    <div class="indent">教育への公費支出は、日本は2017年の国内総生産(GDP)に占める割合は、2.9%でOECD38ヵ国中37位。</div>
    <div class="indent">憲法26条(教育の機会均等)に従い、公費支出を増やす。</div>
    <div>■8時間働けば普通の暮らしができる社会を。</div>
    <div class="indent">ブラックバイトやサービス残業をなくします。</div>
    <div>■新婚家庭の家賃補助のさらなる期間延長(3年から5年になりました)</div>
  </div>

  <div class=policy>
    <h2>➌通院・通学・お買い物に便利な街に。安全・安心の防災対策を</h2>
    <div>■コミバス(ひまわり号)のルートとダイヤを増やしもっと便利に。</div>
    <div>■バス停が遠くて大変。ドアツードアの予約制乗合タクシーの導入を。</div>
    <div id="profile">■移動スーパーで買い物を便利に。</div>
    <div>■防災無線の整備と災害予測地域の事前補強で災害に強い御所市</div>
  </div>
</div>

<div class="title-back">
  <div class="title">プロフィール</div>
</div>

<div class="profile-container">
  <%= image_tag 'face.png', alt: "川本まさきの画像" %>
  <div class="profile-text">
    <div class="profile-name">川本 雅樹（かわもと まさき）</div>
    <div>御所市議会議員 現在２期目</div>
    <div>総務文教委員会委員長</div>
    <div>議会運営委員会副委員長</div>
    <div>県域水道一体化に係る特別委員会委員</div>
    <div>近鉄・JR御所駅周辺整備特別委員会委員</div>
    <div>議会広報編集委員会委員</div>
    <div>一級建築士、新建築家技術者集団所属</div>
    <br>
    <div class="history">
      <div>◆1953年 御所市幸町生まれ</div>
      <div id="voice">◆1971年 御所市立大正小学校、大正中学校を経て県立畝傍高等学校卒</div>
      <div>◆1978年 神戸大学工学部建築学科卒、同大学院工学研究科建築学専攻（修士課程）修了</div>
      <div>◆1978年 奈良県採用、橿原陸上競技場、橿原球場（現さとやく球場）建設等に携わる。</div>
      <div class="indent">県職員労働組合で中央執行委員、副委員長を歴任</div>
      <div class="indent">大正小学校PTA会長、大正中学校PTA副会長、高田高等学校PTA会長歴任</div>
      <div>◆2013年 奈良県庁定年退職。同年、川本建築設計事務所開設</div>
      <div>◆2018年 御所市議会議員初当選</div>
      ●趣味は、日本画、旅行
    </div>
  </div>
</div>

<div class="title-back">
  <div class="title">市民の声</div>
</div>

<div class="voice">
  <h2>近鉄御所駅前再開発の核としての市役所新築移転について</h2>
  <div>●葛城台からは市役所が近くなっていい。</div>
  <div>●市役所が移転するなんて初めて聞いた。</div>
  <div>●駅前開発は前から聞いているが、なぜ市役所を移転させなければならないのか。</div>
  <div>●第一、御所市にそんなお金があるのか。</div>
  <div>●ますます御所市の北と南の格差が広がってしまう。</div>
  <div>●市役所は今のままでよい。そんなお金があればもっとコロナ対策や福祉に金を回してくれ。</div>
  <div>●なんでライフのために一緒の建物に入らなあかんのか、企業努力に任せておけばいい。</div>
  <div>●この計画では新地商店街は全く良くならない。</div>
  <br>
  <div>このように現在様々な疑問や意見が出されています。そんな中で、「市役所の位置を決定する条例」改正案を議会最終日に提案して即日採決するのは、どう考えても乱暴なやり方だと考え、採決そのものに反対しました。市民に対して丁寧な説明をし、合意形成に努力したうえで提案すべきだ！と意見を述べました。(2020年12月定例会)</div>
</div>

<div class="voice">
  <h2>地域公共交通（コミュニティバス、デマンドタクシー)</h2>
  <div>新しい地域公共交通の実証運転が2023年１月11日から始まりました。</div>
  <div>国道309号線を境に北はコミュニティバス（ひまわり号）、南はデマンドタクシー（予約制乗合タクシー）です。以下にその概要と市民の声を掲載します。</div>
  <h3 style="color: chocolate;text-decoration: underline;">コミュニティバス</h3>
  <div>（概要）</div>
  <div>・対象は、だれでも乗車可能</div>
  <div>・費用は、大人２００円（６５歳以上または運転免許証自主返済者は１００円）</div>
  <div>          小学生以下は無料</div>
  <div>・運行時間は、毎日8時台～19時台</div>
  <div>・運行便数は、東コース・西コースとも各8便</div>
  <div>（要望）</div>
  <div>・本数は少なくてもいいので、従来通り南部にも行ってほしい。</div>
  <div>・乗客数が一人の時も多い。もったいない。</div>
  <div>・北部からでもコミバスで「かもきみの湯」に行きたい。</div>
  <div>・直接ライフや済生会病院まで行ってほしい。</div>
  <h3 style="color: chocolate;text-decoration: underline;">デマンドタクシー</h3>
  <div>（概要）</div>
  <div>・対象は、予約に応じて運行。事前に利用者登録が必要</div>
  <div>・費用は、大人５００円（６５歳以上または運転免許証自主返済者は３００円）</div>
  <div>          小学生以下は無料（中学生以上の保護者の同乗が必要）</div>
  <div>・運行時間は、月曜から土曜日の9時～17時</div>
  <div>・運行エリアは、市南部の乗降場所間、市南部の乗降場所～市北部の主要施設</div>
  <br>
  <div>（要望）</div>
  <div>・乗車は旧のコミュニティバスの停留所からとなっているが、そこまで歩いていけない。</div>
  <div>・近隣の公民館に行くのに、以前はバス代１００円で行けたが、今は3倍かかる。</div>
  <div>・目的地が9カ所しかなく少ない。もっと広げてほしい。</div>
  <div>・乗降場所を大字の下と上の2カ所に増やしてほしい。そうすれば、行き帰りとも下りで利用できる。</div>
  <div>・予約に時間がかかり、電話代が気になる。フリーダイヤルにしてほしい。</div>
  <div>・スタートは9時からだが、8時30分からにできないか。</div>
</div>

<div class="voice">
    <h2>歴史博物館の建設要望</h2>
    <div>５世紀に栄えた葛城氏。</div>
    <div>当時、葛城氏の「南郷遺跡群」は日本列島最大規模の集落遺跡であった。</div>
    <div>現在の大字で言うと、南郷、佐田、井戸、下茶屋、多田、極楽寺、林にあたる。ここで葛城の王は「まつりごと」を行い、その傘下にあった渡来人技術者と一般住民に手工業生産を行わせていたことが明らかになっている。</div>
    <div>●室にある宮山古墳は全長２３８ｍの巨大な前方後円墳で、この地に君臨した葛城ソツヒコの墓と言われている。</div>
    <div>●「南郷遺跡群」の北側の名柄遺跡からは、石垣を持つ宅地と大型の竪穴住居が検出され、葛城氏の居住跡と推定されている。</div>
    <div>●２００４年度の調査で確認された極楽寺ヒビキ遺跡は、大型建物、石垣、堀などの遺構で、王の高殿と考えられている。</div>
    <div>●その他、導水施設や首長や親方層、一般住民それぞれの居住地が発掘されている。</div>
    <h3 style="color: chocolate;text-decoration: underline;">川本まさきの提案（２０２１年９月議会一般質問から）</h3>
    <div style="color: chocolate;">「御所市のメインの歴史博物館を南郷あるいはその周辺に建設し、再び地域の歴史に光をあて、過疎に苦しむ現状を打開できないか。」</div>
    <div style="color: chocolate;">「大和盆地を見渡せる景色のよい場所で、しかも大型バスが容易に入ってこられるように山麓線（県道３０号線）に隣接またはアクセスしやすい場所が適切ではないか」</div>
    <h3 style="color: rgb(166, 125, 237);text-decoration: underline;">市長の見解（２０２１年９月議会の答弁から）</h3>
    <div style="color: rgb(166, 125, 237);">「場所については、交通の利便性、土砂災害などの敷地の安全性など多面的な角度から研究してまいりたい。</div>
    <div style="color: rgb(166, 125, 237);">博物館を核として、本市が持つ歴史のすばらしさを全国に発信することで市外の方たちに関心を寄せていただき、市民にも改めて郷土のすばらしさ、誇らしさに気づいていただけるのではないか」</div>
    <h3 style="color: rgb(16, 16, 16);text-decoration: underline;">市民の声</h3>
    <div style="color: rgb(16, 16, 16);">●葛城氏や鴨族の歴史を後世の人にていねいに伝えるために、ぜひ博物館を造ってほしい。</div>
    <div style="color: rgb(16, 16, 16);">●観光のスポットとして、全国の人に訪れてもらいたい。</div>
    <div style="color: rgb(16, 16, 16);">●敷地の一画に地元産の「柿」や「やまといも」などの売り場を造って、「食」も全国に発信したい。</div>
</div>

<div class="footer">
  <div class="name-text">
    <p>御所市議会議員</p>
    <p>川本 まさき</p>
    <%= image_tag 'party.png', class: "party-logo" %>
  </div>
  <div class="address">
    <div>〒639-2314 奈良県御所市幸町296-1</div>
    <div>TEL・Fax : <a href="tel:0745623858">0745-62-3858</a></div>
    <div>Mail : <a href="mailto:dffnq316@yahoo.co.jp">dffnq316@yahoo.co.jp</a></div>
  </div>
</div>
