@media (max-width: 480px) {
    .name img {
        height: 60px;
        width: auto;
        object-fit: cover;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fcfcfc;
        z-index: 998;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        padding: 20px;
        border: none;
        box-shadow: none;
    }

    .menu a, #supporter {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    #menuToggle {
        display: flex;
        position: fixed;
        top: 0px;
        right: 10px;
        font-size: 30px;
        z-index: 999;
    }

    body {
        padding-top: 80px;
        font-family: "Noto Serif JP", serif;
        margin: 0;
    }

    .title-back{
        width: 100%;
        text-align: center;
    }

    .title {
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 30px;
        color: #333;
        padding: 10px 0;
        margin: 0 auto;
    }

    .policy h2, .voice h2 {
        background-color: #0056b3;
        color: rgb(242, 240, 240);
        font-size: 17px;
        padding: 10px 50px 10px 20px;
        border-radius: 4px;
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
        margin: -20px 0 20px -20px;
    }

    .policy div, .voice div, .profile div {
        padding: 3px;
        font-size: 12px;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .profile-name {
        font-size: 18px;
        text-align: center;
        margin-left: 0px;
    }

    .profile-img {
        width: 30%;
        height: auto;
    }

    .profile-text {
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 12px;
    }

    .history{
        margin-left: 0px;
        text-align: left;
    }

    .address {
        margin-left: 3%;
        font-size: 10px;
    }

    .party-logo {
        width: 40px;
        height: auto;
        margin-left:50%;
    }

    .name-text {
        text-align: center;
    }

    .name-text p:first-child {
        font-size: 12px;
    }

    .name-text p:not(:first-child) {
        left: 0px;
    }

    .name-text p:nth-child(2) {
        font-size: 18px;
    }

    .achievements-container {
        justify-content: center; /* 中央揃えにする */
      }

    .achievements {
        flex: 0 1 100%;
        margin: 10px 0;
        max-width: 90%;
    }

    .achievements:nth-child(odd) {
        margin-left: 0px;
    }

    .achievements:nth-child(even) {
        margin-right: 0px;
    }
}

