.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50%;
    margin-top: -7%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control-file {
    margin-bottom: 10px;
}

#fileName {
    margin-bottom: 10px;
}

#searchfield {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 11%;
}

#searchfield label {
    margin-right: 10px;
}

#supporter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

table tr:hover {
    background-color: #e0ebf6;
}

.custom-context-menu {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
}
.custom-context-menu div {
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #e9ecef;
}
.custom-context-menu div:last-child {
    border-bottom: none;
}
.custom-context-menu div:hover {
    background-color: #e2e6ea;
}