.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50%;
    margin-top: -7%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control-file {
    margin-bottom: 10px;
}

#fileName {
    margin-bottom: 10px;
}

#searchfield {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 11%;
}

#searchfield label {
    margin-right: 10px;
}

.notis-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notis-container {
    overflow: hidden;
    width: 80%;
    max-width: 100%;
    margin-left: -1.5%;
}

.notis-carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.notis-slide {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 10px;
}

.notis {
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.notis img {
    width: 60%;
    margin-bottom: 3%;
    margin-top: 2%;
}



.notis pre {
    margin: 8%;
    margin-top: 0%;
    text-align: left;
    font-size: 20px;
}

.carousel-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#noti-prev {
    left: 0;
    margin-left: 5%;
}

#noti-next {
    right: 0;
    margin-right: 5%;
}

@media (max-width: 768px) {
    .notis-slide {
        flex: 0 0 100%;
    }

    .notis-container {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        margin-left: -5%;
    }

    .notis {
        font-size: 16px;
        width: 100%;
        padding: 0px;
    }
}



#supporter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

table tr:hover {
    background-color: #e0ebf6;
}

.custom-context-menu {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
}
.custom-context-menu div {
    padding: 12px 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #e9ecef;
}
.custom-context-menu div:last-child {
    border-bottom: none;
}
.custom-context-menu div:hover {
    background-color: #e2e6ea;
}